body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #E5E5E5;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #fff;
    height: 17vh;
    display: flex;
    min-height: 120px;
}

header > .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

header .wrapper p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4B4B4B;
    margin-bottom: 0;
}

header .header-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .header-logo .logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 41px;
    width: 148px;
    background-size: contain;
    margin-top: 8px;
}

header .header-buttons {
    display: flex;
    justify-content: right;
    align-items: center;
}

header .header-buttons button {
    padding: 19px 38px;
    border: none;
    background-color: #fff;
    font-size: 28px;
    color: #828282;
    font-weight: 600;
    line-height: 33px;
}

header .header-buttons button.active {
    background: #DDEAFD;
    border-radius: 6px;
    color: #2755BD;
}

/* Content */

.content {
    display: flex;
}

.content > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83vh;
    min-height: 500px;
    justify-content: center
;
}

.content .page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.content .wrap-blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.content .page-title h1 {
    font-weight: 900;
    font-size: 53px;
    line-height: 62px;
    color: #242424;
    margin: 10px 0;
}

.content .page-title p {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    color: #555555;
    margin: 10px 0;
}

.content .block {
    width: 400px;
    height: 290px;
    padding: 20px;
    background-color: #1B47AB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #fff;
    margin: 5px;
}

.content .block .service-logo {
    height: 88px;
    width: 88px;
    background-image: url('../img/service.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.content .block .calendar-logo {
    height: 88px;
    width: 88px;
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.content .block h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

@media (min-width: 720px) and (max-width: 960px) {
    .content .block {
        width: 290px;
        height: 280px;
    }
}