body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #EAEEF3;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

/*Header*/

header {
    background-color: #fff;
    min-height: 120px;
    display: flex;
    header: 17vh;
}

header > .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

header .wrapper p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4B4B4B;
    margin-bottom: 0;
}

header .header-logo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 250px;
}

header .header-logo-content .logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 41px;
    width: 148px;
    background-size: contain;
    margin-top: 8px;
}


header .header-lang-block {
    display: flex;
    justify-content: right;
    align-items: center;
}

header .header-lang-block button {
    padding: 19px 38px;
    border: none;
    background-color: #fff;
    font-size: 28px;
    color: #828282;
    font-weight: 600;
    line-height: 33px;
}

header .header-lang-block button.active {
    background: #DDEAFD;
    border-radius: 6px;
    color: #2755BD;
}

/* Content */

.content {
    display: flex;
    min-height: 500px;
    height: 73vh;
}

.content > .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}

.content .wrapper .service-block {
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 465px;
    min-height: 406px;
}

.content .service-block hr {
    width: 100%;
    border: 1px solid #E0E0E0;
}

.content .service-block .service-section-top {
    padding: 10px 30px 0 30px;
}

.content .service-block .service-section-bottom {
    padding: 0px 30px 10px 30px;
}

.content .select-date-block .content .service-block h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

.content .service-block p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #828282;
}

.content .service-block h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2755BD;
}

.content .service-block .date-red {
    display: flex;
    color: #D71717;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.content .service-block .date-red span {
    background-color: #F7E2E2;
    border: 1px solid #D71717;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
}

.content .service-block .date-red span:first-child {
    margin-left: 0;
}

.content .service-block .date-green {
    display: flex;
    color: #22B75E;;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.content .service-block .date-green span {
    background-color: #fff;
    border: 1px solid #22B75E;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
}

.content .service-block .date-green span:first-child {
    margin-left: 0;
}

.content .wrapper .select-date-block {
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 615px;
    min-height: 406px;
    padding: 10px 30px;
}

.content .select-date-block .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .select-date-block .center {
    display: flex;
}

.content .select-date-block .center ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

.content .select-date-block .center ul li {
    border-radius: 6px;
    list-style: none;
    border: 1px solid #bdbdbd;
    height: 50px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .select-date-block .center ul li.active {
    background: #2755BD;
    box-shadow: inset 0px 2px 12px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
}

.content .select-date-block .select-date-block h3 {
    font-size: 20px;
    line-height: 23px;
    color: #333;
    font-weight: normal;
}

.content .select-date-block .time-work p {
    font-size: 18px;
    line-height: 21px;
}

.content .select-date-block .time-work p span {
    color: #333;
    font-size: 20px;
    line-height: 23px;
    font-weight: 900;
}

.content .select-date-block .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .select-date-block .bottom .hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .select-date-block .button-up {
    background-image: url('../img/up.png');
    background-repeat: no-repeat;
    height: 22px;
    background-position: center;
    width: 53px;
}

.content .select-date-block .button-down {
    background-image: url('../img/down.png');
    background-repeat: no-repeat;
    height: 22px;
    background-position: center;
    width: 53px;
}

.content .select-date-block .bottom .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
    color: #333;
}

.content .select-date-block .bottom button {
    border-radius: 5px;
    background-color: #2755BD;
    color: #fff;
    width: 230px;
    height: 70px;
    border: none;
    font-size: 20px;
    line-height: 23px;
}

.content .select-date-block .number {
    height: 95px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    color: #333;
    margin: 10px 0;
    
}

.content .select-date-block .hour:first-child {
    margin-right: 15px;
}

.content .select-date-block .hour:last-child {
    margin-left: 15px;
}

/* Footer */

footer {
    display: flex;
}

footer > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;
    height: 10vh;
}

footer .back, footer .home {
    background: #fff;
    border-radius: 6px;
    height: 69px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    flex-basis: 270px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .back:before {
    content: url('../img/left.png');
    margin-right: 20px;
    margin-top: 6px;
}

footer .home:before {
    content: url('../img/home.png');
    margin-right: 10px;
    margin-top: 6px;
}

footer .back {
    flex-basis: 221px;
}

@media (min-width: 1180px) {
    .wrapper {
        width: 1180px;
        margin: 0 auto;
    }
}

@media (min-width: 960px) and (max-width: 1180px) {
    .wrapper {
        width: 960px;
        margin: 0 auto;
    }

    .content .wrapper .select-date-block {
        width: 492px;
    }

    .content .wrapper .service-block {
        width: 372px;
    }

    .content .select-date-block .center ul li {
        width: 60px;
        height: 45px;
    }

    .content .select-date-block .bottom button {
        width: 200px;
    }
}

@media (min-width: 720px) and (max-width: 960px) {
    .wrapper {
        width: 720px;
    }

    .content {
        min-height: 925px;
    }

    .content .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .content .wrapper .service-block {
        width: 96%;

    }

    .content .wrapper .select-date-block {
        width: 88%;
        margin-top: 10px;
    }

}