body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #EAEEF3;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

/*Header*/

header {
    background-color: #fff;
    min-height: 120px;
    display: flex;
    height: 17vh;
}

header > .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: wrap;
}

header .wrapper p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4B4B4B;
    margin-bottom: 0;
}

header .header-logo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 250px;
}

header .header-logo-content .logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 41px;
    width: 148px;
    background-size: contain;
    margin-top: 8px;
}

header .header-lang-content {
    display: flex;
    justify-content: right;
    align-items: center;
}

header .header-lang-content button {
    padding: 19px 38px;
    border: none;
    background-color: #fff;
    font-size: 28px;
    color: #828282;
    font-weight: 600;
    line-height: 33px;
}

header .header-lang-content button.active {
    background: #DDEAFD;
    border-radius: 6px;
    color: #2755BD;
}

/* Content */

.content {
    display: flex;
    min-height: 560px;
}

.content > .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    min-height: 500px;
    height: 73vh;
}

.content .wrapper .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 224px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    flex-basis: 375px;
    margin: 10px 0;
}

.content .wrapper .item  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #333;
}

.content .wrapper .item  h2 {
    text-align: center;
}

.content .block h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

/* Footer */

footer {
    display: flex;
}

footer > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    min-height: 100px;
}

footer .back, footer .home {
    background: #fff;
    border-radius: 6px;
    height: 69px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    flex-basis: 270px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .back:before {
    content: url('../img/left.png');
    margin-right: 20px;
    margin-top: 6px;
}

footer .home:before {
    content: url('../img/home.png');
    margin-right: 10px;
    margin-top: 6px;
}

footer .back {
    flex-basis: 221px;
}

@media (min-width: 960px) and (max-width: 1180px) {
    .content > .wrapper {
        justify-content: space-around;
        width: 90%;
    }
}


@media (min-width: 720px) and (max-width: 960px) {
    .content > .wrapper {
        justify-content: space-around;
    }

    .content .wrapper .item {
        flex-basis: 320px;
        height: 200px;
    }
}