body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #EAEEF3;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

/*Header*/

header {
    background-color: #fff;
    min-height: 120px;
    display: flex;
}

header > .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: wrap;
}

header .wrapper p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4B4B4B;
    margin-bottom: 0;
}

header .header-logo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 250px;
}

header .header-logo-content .logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 41px;
    width: 148px;
    background-size: contain;
    margin-top: 8px;
}

header .header-lang-content {
    display: flex;
    justify-content: right;
    align-items: center;
}

header .header-lang-content button {
    padding: 19px 38px;
    border: none;
    background-color: #fff;
    font-size: 28px;
    color: #828282;
    font-weight: 600;
    line-height: 33px;
}

header .header-lang-content button.active {
    background: #DDEAFD;
    border-radius: 6px;
    color: #2755BD;
}

/* Content */

.content {
    display: flex;
}

.content > .wrapper {
    display: flex;
    align-items: center;
    min-height: 500px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .wrapper .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 224px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    flex-basis: 378px;
    margin: 10px 0;
}

.content .wrapper .item .item-logo {
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
}

.content .wrapper .item:first-child .item-logo {
    background-image: url('../img/001-electrical-service\ 1.png');
}

.content .wrapper .item:nth-child(2) .item-logo {
    background-image: url('../img/Group\ \(2\).png');
    width: 59px;
    height: 54px;
}

.content .wrapper .item:nth-child(3) .item-logo {
    background-image: url('../img/Group.png');
    width: 70px;
    height: 58px;
}

.content .wrapper .item:nth-child(4) .item-logo {
    background-image: url('../img/001-cashbox-1\ 1.png');
}

.content .wrapper .item:nth-child(5) .item-logo {
    background-image: url('../img/cabinet\ 1.png');
}

.content .wrapper .item:nth-child(6) .item-logo {
    background-image: url('../img/Group\ \(1\).png');
}

.content .wrapper .item:nth-child(7) .item-logo {
    background-image: url('../img/001-cashbox-1\ 2.png');
}

.content .wrapper .item:nth-child(8) .item-logo {
    background-image: url('../img/cabinet\ 2.png');
}

.content .wrapper .item:nth-child(9) .item-logo {
    background-image: url('../img/Group\ 38362.png');
}

.content  .wrapper  .item  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #333;
}

.content .wrapper .item  h2 {
    text-align: center;
}

.content .block h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

/* Footer */

footer {
    display: flex;
}

footer > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}

footer .back, footer .home {
    background: #fff;
    border-radius: 6px;
    height: 69px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    flex-basis: 270px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .back:before {
    content: url('../img/left.png');
    margin-right: 20px;
    margin-top: 6px;
}

footer .home:before {
    content: url('../img/home.png');
    margin-right: 10px;
    margin-top: 6px;
}

footer .back {
    flex-basis: 221px;
}

@media (min-width: 1180px) {
    .content {
        height: 800px;
    }
}

@media (min-width: 960px) and (max-width: 1180px) {
    .content {
        min-height: 900px;
    }
    .content > .wrapper {
        justify-content: space-around;
        width: 90%;
    }
}


@media (min-width: 720px) and (max-width: 960px) {
    .content > .wrapper {
        justify-content: space-around;
    }

    .content .wrapper .item {
        flex-basis: 320px;
        height: 200px;
    }
}