body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #EAEEF3;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #fff;
    min-height: 120px;
    display: flex;
}

header > .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: wrap;
}

header .wrapper p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4B4B4B;
    margin-bottom: 0;
}

header .header-logo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 250px;
}

header .header-logo-content .logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 41px;
    width: 148px;
    background-size: contain;
    margin-top: 8px;
}


header .header-lang-content {
    display: flex;
    justify-content: right;
    align-items: center;
}

header .header-lang-content button {
    padding: 19px 38px;
    border: none;
    background-color: #fff;
    font-size: 28px;
    color: #828282;
    font-weight: 600;
    line-height: 33px;
}

header .header-lang-content button.active {
    background: #DDEAFD;
    border-radius: 6px;
    color: #2755BD;
}

/* Content */

.content {
    display: flex;
    width: 100%;
    height: 800px;
}

.content > .wrapper {
    display: flex;
    min-height: 500px;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.content .wrapper .item-top {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content .wrapper .item-top input {
    width: 100%;
    height: 82px;
    background-color: #fff;
    border: 1px solid #2755BD;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    color: #A6A6A6;
    margin: 20px 0;
}

.content .wrapper .item-center {
    display: flex;
    width: 100%;
    padding: 20px 0;
    flex-direction: column;
}

.content .keyboard-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.content .keyboard-number .last {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.content .keyboard-number .num {
    height: 90px;
    width: 94px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .keyboard-number .gray {
    background-color: #F5F6FF;
}

.content .keyboard-number .backspace {
    width: 204px;
    background-image: url('../img/backspace.png');
    background-repeat: no-repeat;
    background-position: center;

}

.content .keyboard-number .shift {
    width: 214px;
}

.content .keyboard-number .shift:before {
    content: '';
    background-image: url('../img/Group\ 38338.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 35px;
}

.content .keyboard-number .space {
    width: 727px;
}

.content .keyboard-number .caps-lock {
    width: 198px;
}

.content .item-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content .item-bottom button {
    border-radius: 6px;
    background-color: #2755bd;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    border: none;
    padding: 10px 30px;
    height: 84px;
    min-width: 492px;
}

/*Footer*/

footer {
    display: flex;
}

footer > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}

footer .back, footer .home {
    background: #fff;
    border-radius: 6px;
    height: 69px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    flex-basis: 270px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .back:before {
    content: url('../img/left.png');
    margin-right: 20px;
    margin-top: 6px;
}

footer .home:before {
    content: url('../img/home.png');
    margin-right: 10px;
    margin-top: 6px;
}

footer .back {
    flex-basis: 221px;
}

/* modal window 1 */

.modal-window {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    position: absolute;
    z-index: -1;
}

.modal-content {
    width: 455px;
    height: 271px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.modal-content span.close {
    position: absolute;
    top: 24px;
    right: 20px;
    background-image: url('../img/error-1.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
}

.modal-content .done {
    width: 45px;
    height: 45px;
    background-image: url('../img/done.png');
    background-repeat: no-repeat;
    background-size: contain;

}

.modal-content .check {
    width: 46px;
    height: 33px;
    background-image: url('../img/check.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.modal-content .ticket {
    width: 54px;
    height: 39px;
    background-image: url('../img/Group\ 38360.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.modal-content .loupe {
    width:39px;
    height: 39px;
    background-image: url('../img/minus-3.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.modal-content .paper {
    width: 55px;
    height: 55px;
    background-image: url('../img/paper.png');
    background-repeat: no-repeat;
    background-size: contain;
}


@media (min-width: 1180px) {
    
}

@media (min-width: 960px) and (max-width: 1180px) {
    .wrapper {
        width: 960px;
    }

    .content .keyboard-number .num {
        width: 77px;
        height: 77px;
    }

    .content .keyboard-number .last {
        width: 170px;
    }
    .content .keyboard-number .backspace {
        width: 170px;
    }

    .content .keyboard-number .caps-lock {
        width: 198px;
    }

    .content .keyboard-number .space {
        width: 500px;
    }

    .content .keyboard-number .shift {
        width: 198px;
    }
}


@media (min-width: 720px) and (max-width: 960px) {
    .wrapper {
        width: 720px;
    }
    
    .content {
        height: 650px;
    }

    .content .keyboard-number .num {
        width: 55px;
        height: 55px;
    }

    .content .keyboard-number .last {
        width: 125px;
    }
    .content .keyboard-number .backspace {
        width: 125px;
    }

    .content .keyboard-number .caps-lock {
        width: 160px;
    }

    .content .keyboard-number .space {
        width: 370px;
    }

    .content .keyboard-number .shift {
        width: 160px;
    }
}