body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #EAEEF3;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/*Header*/

header {
    background-color: #fff;
    min-height: 120px;
    display: flex;
    height: 17vh;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

header > .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: wrap;
}

header > .wrapper p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4B4B4B;
    margin-bottom: 0;
}

header .header-logo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 250px;
}

header .header-logo-content .logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 41px;
    width: 148px;
    background-size: contain;
    margin-top: 8px;
}

header .header-lang-content {
    display: flex;
    justify-content: right;
    align-items: center;
}

header .header-lang-content button {
    padding: 19px 38px;
    border: none;
    background-color: #fff;
    font-size: 28px;
    color: #828282;
    font-weight: 600;
    line-height: 33px;
}

header .header-lang-content button.active {
    background: #DDEAFD;
    border-radius: 6px;
    color: #2755BD;
}

/* Content */

.content {
    display: flex;
    width: 100%;
    min-height: 490px;
    height: 69vh;
}

.content > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content button {
    width: 500px;
    height: 137px;
    background-color: #1B47AB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #fff;
    margin: 20px 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    border: none;
}

.content .block h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

/* Footer */

footer {
    display: flex;
}

footer > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;
}

footer .back, footer .home {
    background: #FFFFFF;
    border-radius: 6px;
    height: 69px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    flex-basis: 270px;
    padding-left: 10px;
}

footer .back {
    width: 221px;
}

footer .back:before {
    content: url('../img/left.png');
    margin-right: 10px;
}

footer .home:before {
    content: url('../img/home.png');
    margin-right: 10px;
}
